.reveal h1 { font-size: 1.75em; wordwrap: normal; } 
.reveal h2 { font-size: 1.75em; wordwrap: normal;text-transform: none; } 
.reveal h3 { font-size: 1.5em; wordwrap: normal; } 
.reveal h4 { font-size: 1.0em; wordwrap: normal; } 
.reveal h6 { font-size: 0.75em; wordwrap: normal; text-transform: none;
} 
